header {
    background-color: gray;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color:red;
    color:white ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 35%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
}

.colerman-imagem{
    width: 25%;
}

.colerman{
    background-image: linear-gradient(#ff0000, #d10c0c);
    color: aliceblue;
    display: flex;
    justify-content: last center;
    align-items: center;
    padding: 24px 0;

}

.colerman.div.conteudo {
    width: 35%;
}

.colerman-titulo {
    padding:24px, 0;
}

.body {
    font-family: 'Inria sans', sans-serif;
}